<!-- templates/search.html -->
{% extends 'base.html' %}

{% block title %}Cerca Ricette{% endblock %}

{% block content %}
    <div class="search-page">
        <h2>Cerca Ricette</h2>
        <form action="{{ url_for('search') }}" method="GET">
            <label for="query">Titolo della ricetta:</label>
            <input type="text" id="query" name="query" required>
            <button type="submit">Cerca</button>
        </form>

        {% if recipes %}
            <h3>Risultati della ricerca:</h3>
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <a href="{{ url_for('view_recipe', title=recipe.title) }}">{{ recipe.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h3>Ricette per Categoria:</h3>
        <div class="categories">
            <h4>Desserts</h4>
           <ul>
                {% for recipe in desserts %}
                    <li><a href="{{ url_for('view_recipe', title=recipe.title) }}">{{ recipe.title }}</a></li>
                {% endfor %}
            </ul>

            <h4>primi piatti</h4>
            <ul>
                {% for recipe in first_courses %}
                    <li><a href="{{ url_for('view_recipe', title=recipe.title) }}">{{ recipe.title }}</a></li>
                {% endfor %}
            </ul>

            <h4>secondi </h4>
            <ul>
                {% for recipe in main_courses %}
                    <li><a href="{{ url_for('view_recipe', title=recipe.title) }}">{{ recipe.title }}</a></li>
                {% endfor %}
            </ul>

            <h4>antipasti/contorni</h4>
            <ul>
                {% for recipe in starters %}
                    <li><a href="{{ url_for('view_recipe', title=recipe.title) }}">{{ recipe.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
